registry=https://registry.npmmirror.com/
@bedrock:registry=https://npm.nie.netease.com
@ysf:registry=http://rnpm.hz.netease.com
@music:registry=http://rnpm.hz.netease.com
@yxim:registry = http://npm.netease.im
legacy-peer-deps=true
engine-strict=false
